/* RESET */
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100dvh;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;

  &:focus-visible {
    outline-offset: 3px;
    outline-width: 1px;
    outline-color: var(--focus-color);
  }
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
